<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>>Co-op Bereavement | Advice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body background="img/tree.jpg">
    <% include ./header.ejs %>
        <div class="jumbotron" style="max-width: 1150px; display: block; margin: auto; background: rgba(255,255,255, 0.45); padding-bottom: 25px;">
            <h1 class="display-3" style="text-align: center">Tips and Advice</h1>
            <p class="lead" style="text-align: center">Get advice on how to talk to someone who has lost a loved one or how to deal with your loss </p>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button" style="display: block; margin: auto; max-width: 350px;">How to talk to someone bereaving</a>
                <br>
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button" style="display: block; margin: auto; max-width: 350px">How to cope with losing someone</a>
            </p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>