<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Co-op Bereavement | Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<style>
    #map {
        height: 500px;
    }
</style>

<body background="img/flowers.jpg" style="height: 100%">
    <% include ./header.ejs %>
        <div class="jumbotron" style="max-width: 1150px; display: block; margin: auto; background: rgba(255,255,255, 0.3); padding-bottom: 1px;">
            <h1 class="display-4">First off, where would you like to find events?</h1>
            <p class="lead">Use the map to select the prefered location</p>
            <a class="btn btn-primary" href="javascript:showEvents();" style="background-color: #01a0cc; color:#fff; border-color: #01a0cc" role="button">Find Events in your area</a>
            <hr class="my-2">
            <div id="map"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



        <script>
            var pos;
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;

            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 53.479377,
                        lng: -2.242004
                    },
                    zoom: 3
                });
                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('Yay, we found you!.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Sadly we couldn\'t find your location, please enter it manually.' :
                    'Sadly we couldn\'t find your location, please enter it manually.');
                infoWindow.open(map);


            }

            function showEvents() {
                  window.location = "/events?lat= "+ pos.lat +"&lon=" + pos.lng +"&page=0";
              }
          </script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoHbeVzTVtYJzJtUQOrn3hYhyVampq1Vk&callback=initMap">
          </script>
</body>

</html>