<script src="https://use.fontawesome.com/bf54a3a9f4.js"></script>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <a class="navbar-brand" href="http://localhost:3000">
        <img src="/img/coop-logo.svg" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="/">Bereavement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i> Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/eventloc">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Events
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567">
                    <i class="fa fa-comments-o" aria-hidden="true"></i> Forum
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Contact Us
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/advice">
                    <i class="fa fa-info" aria-hidden="true"></i></i> Advice
                </a>
            </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <i class="fa fa-user-plus" aria-hidden="true"></i></i> Sign up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
                    </a>
                </li>
            </ul>
            <input id="searchBox" class="form-control mr-sm-2" onkeypress="handle(event)" type="text" placeholder="Search the forum" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit" style="background-color: #00a1cc; border-color: #00a1cc; color: #fff">Search</button>
        </form>

        <script>
            function handle(e) {
                if (e.keyCode === 13) {
                    e.preventDefault(); // Ensure it is only this code that rusn
                    window.location.replace("http://localhost:4567/search?term=\"" + document.getElementById('searchBox').value + "\"");
                }
            }

            function runSearch() {
                window.location.replace("http://stackoverflow.com");
                console.log("http://localhost:4567/search?term=\"" + document.getElementById('searchBox').value + "\"")
                window.location.href = "http://localhost:4567/search?term=\"" + document.getElementById('searchBox').value +
                    "\"";
            }
        </script>

    </div>
</nav>