<style>
    /* Show it's not fixed to the top */
    
    body {
        min-height: 75rem;
    }
</style>

<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <img src="/img/coop-logo.svg" width="68" height="68" alt="The Co-operative Funeral Care Logo" style="background-color: #fff">
    <a class="navbar-brand" href="#>The Co-Operative Bereavement</a>
    <button class=" navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarCollapse " aria-controls="navbarCollapse " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon " style="color: #000 "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarCollapse ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="/events " style="color: #fff ">Events</a>
                <li class="nav-item ">
                    <a class="nav-link " href="http://localhost:4567 " style="color: #fff ">Forum</a>
                </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0 ">
            <input class="form-control mr-sm-2 " type="text " placeholder="Search " aria-label="Search ">
            <button class="btn btn-outline-light my-2 my-sm-0 " type="submit " style="background-color: #00a1cc; border-color: #00a1cc ">Search</button>
        </form>
    </div>
</nav>