<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Co-op Bereavement | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<style>
@media screen and (min-width: 0px) and (max-width: 1024px) {
  .bPicture { display: none; }   /* hide it elsewhere */
}
</style>

<body background="/img/spring-tree-flowers-meadow-60006.jpeg" style="height: 100%">
    <% include ./header.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron jumbotron-fluid" style="background: rgba(255,255,255, 0.5); padding-bottom: 1px;">

                        <div class="container">
                            <h1 class="display-5" style="text-align: center">The Co-Operative Bereavement</h1>
                            <hr class="my-2">
                            <div class="row">
                                <div class="col bPicture">
                                    <img src="/img/bereavement.png" class="bPicture" width="100%" height="80%" style="position: relative; top: 50%; transform: translateY(-50%);"></img>
                                </div>
                                <div class="col">
                                    <p style="text-align: center; position: relative; top: 50%; transform: translateY(-50%);">This is a place where people who have lost someone close to them can connect with other people who are in the same situation. You can access information about local events you can attend and share their thoughts and
                                        feelings in the forum comfortably.
                                        <br> Our aim is to help people who have suffered a loss to be able to feel like they aren't alone and theres always someone who can relate to how they're feeling.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="jumbotron jumbotron-fluid" style="background: rgba(255,255,255, 0.5)">
                        <div class="container">
                            <h1 class="display-5" style="text-align: center">Events</h1>
                            <hr class="my-2">
                            <p style="text-align: center">We provide a way for those who are bereaving to be able to communicate with someone who is going through the same through charitable events. These events allow you to comfortably connect with other people and relate to their
                                situation. </p>
                            <a name="" id="" class="btn btn-secondary" href="/events" role="button" style="background-color: #00a1cc; border-color: #00a1cc; display: flex; flex-direction: center; justify-content: center">See Upcoming Events</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="jumbotron jumbotron-fluid" style="background: rgba(255,255,255, 0.5)">
                        <div class="container">
                            <h1 class="display-5" style="text-align: center">The Forum</h1>
                            <hr class="my-2">
                            <p style="text-align: center">The forum is a comforting place where you can connect virtually with other people in the same position and discuss sensitive topics and offer advice as to how to talk to someone who is grieving and help them through the hard
                                times. </p>
                            <a name="forumButton" id="forumButton" class="btn btn-primary" href="http://localhost:4567" role="button" style="background-color: #00a1cc; border-color: #00a1cc; display: flex; flex-direction: center; justify-content: center">Talk in The Forum</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js " integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn " crossorigin="anonymous "></script>
</body>

</html>