<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Co-op Bereavement | Advice</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body background="img/field.jpg">
    <% include ./header.ejs %>
        <div class="jumbotron" style="max-width: 900px; max-height: 600px; display: block; margin: auto; background: rgba(255,255,255, 0.9); padding-bottom: 25px;">
            <h1 class="display-5">How to deal with the death of a loved one</h1>
            <hr class="my-2">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Everyone deals with death differently</li>
                        <li>Open up and talk about it, but only when you’re ready.</li>
                        <li> Let yourself be vulnerable.</li>
                        <li>Allow your friends to be there for you.</li>
                        <li>Know that you’re allowed to be messed up.</li>

                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li>Put down the drink.</li>
                        <li>Book a ticket to a place you’ve never been.</li>
                        <li>Do what you love.</li>
                        <li>Cherish the memories of your loved one.</li>
                        <li>Give yourself time to heal.</li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>