<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Co-op Bereavement | My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/bf54a3a9f4.js"></script>
</head>

<style>
    body {
        background-image: url("/img/geometry2.png");
    }
</style>

<body>
    <% include ./header.ejs %>

        <div class="container">
            <div class="row">
                <div class="col-md">
                </div>
                <div class="col-md">
                    <div class="jumbotron">
                        <img src="/img/user.png" class="rounded-cirlce" width="100px" height="100px" style="display: block; margin: auto"></img>
                        <h2 style="text-align: center">Jacob Gee-Clarke</h2>
                        <h6 style="text-align: center">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> Manchester
                        </h6>
                        <hr class="my-2">
                        <p class="lead" style="text-align: center; font-size: 14pt">This is my short bio. It will include a brief explanation about me and what I am interested in.</p>
                        <button type="button" class="btn btn-primary" style="background-color: #00a1cc; border-color: #00a1cc; color: #fff; display: block; margin: auto;">
                                <i class="fa fa-plus" aria-hidden="true"></i>                                
                            Add Friend</button>

                    </div>
                </div>
                <div class="col-md">
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>